# Ignore virtual environment folder
TJ_api/venv/

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore Django migrations
*/migrations/*

# Ignore database files
TJ_api/TJ/db.sqlite3

# Ignore environment variables file
.env

# Ignore static files
TJ_api/TJ/static/

# Ignore media files
TJ_api/TJ/media/


# Ignore IDE specific files
.vscode/
.idea/

# Ignore ds_store files
.DS_Store/